<%= provide :title, 'Live United' %>
<h1 class="text-center">United Way</h1>

<div class='row'>
    <div class='col-md-12'>
      <h4 class="text-center">Volunteering opportunies local to you</h4>
    </div>
</div>
<div class='spacer'></div>
<div id='login_forms'>
    <div class='row'>
      <div class='col-md-4'>
      </div>
      <div class='col-md-1 center-block'>
            <%= form_tag sessions_facebook_path, :method => 'get', :id => 'session_facebook_form' do %>
                <%= submit_tag 'Login Facebook', class: 'btn btn-primary btn-large' %>
            <% end %>
      </div>
      <div class='col-md-1'></div>
      <div class='col-md-1 center-block'>
            <%= form_tag sessions_twitter_path, :method => 'get', :id => 'session_twitter_form' do %>
                <%= submit_tag 'Login Twitter', class: 'btn btn-primary btn-large' %>
            <% end %>
      </div>
      <div class='col-md-4'>
      </div>

    </div>
</div>
