<%= provide :title, 'Live United' %>

<h1 class="text-center login">United Way</h1>

<div class='row'>
    <div class='col-md-12'>
      <h4 class="text-center login">Sign in to look for opportunities to help</h4>
    </div>
</div>
<div class='spacer'></div>
<div id='login_forms'>
    <div class='row'>
      <div class='col-md-3'>
      </div>
      <div class='col-md-3 center-block'>
            <%= form_tag sessions_facebook_path, :method => 'get', :id => 'session_facebook_form' do %>
            <%= image_submit_tag "icon_facebook_login.png" %>
            <% end %>
      </div>
      <div class='col-md-3 center-block'>
            <%= form_tag sessions_twitter_path, :method => 'get', :id => 'session_twitter_form' do %>
            <%= image_submit_tag "icon_twitter_login.png" %>
            <% end %>
      </div>
      <div class='col-md-3'>
      </div>

    </div>
</div>
