<%= provide :title, 'New Volunteer Attendance' %>

<h1>Volunteer'ed</h1>

<%= render 'shared/flash_messages' %>

<%= form_tag sessions_facebook_path, :method => 'get', :id => 'session_facebook_form' do %>
    <div class='form-group'>
      <p>Post to Facebook/Twitter</p>
    <%= text_area_tag 'post_to_social' %>
    </div>
    <%= submit_tag 'Post', class: 'btn btn-primary' %>
<% end %>
